body{
	font-family : verdana;
	font-size : 10px;

}

table, th, td{
	border : 1px solid black;
	border-collapse : collapse;

}

header, footer{
	padding : 10px;
	color : white
	font-size : 12px;
	background-color : #aaa;
	clear : left;
	text-align : center;
}

input{
	padding : 5px;
	margin : 5px;
}

div.container{
	width : 100%;
	border : 1px solid gray;	
}

.menu{background-color : black;
	color : red;
	border : 1px solid grey;
	padding : 10px;
	margin : 30px;
	font-size : 150%;
}

.titulo{
	background-color : black;
	color : white;
	border : 1px solid grey;
	padding : 10px;
	margin : 10px;
}

div.pratoPrincipal{
	background-color : #f1f1c1;
	margin : 10px;
}

div.sobremesa{
	background-color : #a1f1a2;
	margin : 10px;
}

/*Estilos para o menu de navegação*/
.dropbtn{
	background-color = #4CAF50;
	color = white;
	padding = 10px;
	font-size = 10px;
	border = none;
	cursor = pointer;	
}
 
.dropdown{
	position = relative;
 	display = inline-block;	
}
 
.dropdown-content{
 display = none;
 position = absolute;
 right = 0;
 background-color = #f9f9f9;
 min-width = 160px;
 box-shadow = 0px 8px 16px 0px rgba(0,0,0,0.2);	
}
 
.dropdown-content a{
 color = black;
 padding = 12px 16px;
 text-decoration = none;
 display = block;

}
 .dropdown-content a:hover{
 	background-color = #f1f1f1
 }
 .dropdown:hover .dropdown-content{
 	display = block;
 }
